# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Environment Variables
.env

# Media / User Uploads
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Static collected files
staticfiles/

# Secrets
secrets.json