{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow-lg">

            <div class="card-body">

                <h2 class="text-center mb-4">
                    User Registration
                </h2>

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-success w-100 mt-3">
                        Register
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}